<settings>
	<option name="deadzone_hat">0</option>
	<option name="deadzone_axis">0.2</option>
	<devices>
		<device name="rockcandy">3/e6f-11f:Rock Candy Gamepad Wired Controller</device>
		<device name="xbox">3/45e-2a1:Xbox 360 Wireless Receiver (XBOX)</device>
		<device name="xinput0">Xinput 0</device>
		<device name="keyboard">11/1-1:AT Translated Set 2 keyboard</device>
		<device name="keyboard2">3/258a-1:SINO WEALTH USB KEYBOARD</device>
	</devices>
	<shortcuts>
		<shortcut name="simultest" type="simultaneous">
			<device name="keyboard"/>
			<device name="keyboard2"/>
			<function name="test">
				<arg name="foo">Some args</arg>
				<arg name="bar">99</arg>
			</function>
			<button>
				<trigger type="EV_KEY" code="KEY_A"/>
			</button>
			<button>
				<trigger type="EV_KEY" code="KEY_S"/>
			</button>
			<button>
				<trigger type="EV_KEY" code="KEY_D"/>
			</button>
		</shortcut>
		<shortcut name="konami" type="consecutive">
			<device name="xbox"/>
			<device name="rockcandy"/>
			<button>
				<trigger type="EV_KEY" code="KEY_UP"/>
				<trigger type="EV_KEY" code="BTN_DPAD_UP"/>
				<trigger type="EV_KEY" code="ABS_HAT0Y" trigger="-1"/>
				<trigger type="EV_KEY" code="ABS_Y" trigger="-16384"/>
			</button>
			<button>
				<trigger type="EV_KEY" code="KEY_UP"/>
				<trigger type="EV_KEY" code="BTN_DPAD_UP"/>
				<trigger type="EV_KEY" code="ABS_HAT0Y" trigger="-1"/>
				<trigger type="EV_KEY" code="ABS_Y" trigger="-16384"/>
			</button>
			<button>
				<trigger type="EV_KEY" code="KEY_DOWN"/>
				<trigger type="EV_KEY" code="BTN_DPAD_DOWN"/>
				<trigger type="EV_KEY" code="ABS_HAT0Y" trigger="1"/>
				<trigger type="EV_KEY" code="ABS_Y" trigger="16384"/>
			</button>
			<button>
				<trigger type="EV_KEY" code="KEY_DOWN"/>
				<trigger type="EV_KEY" code="BTN_DPAD_DOWN"/>
				<trigger type="EV_KEY" code="ABS_HAT0Y" trigger="1"/>
				<trigger type="EV_KEY" code="ABS_Y" trigger="16384"/>
			</button>
			<button>
				<trigger type="EV_KEY" code="KEY_LEFT"/>
				<trigger type="EV_KEY" code="BTN_DPAD_LEFT"/>
				<trigger type="EV_KEY" code="ABS_HAT0X" trigger="-1"/>
				<trigger type="EV_KEY" code="ABS_X" trigger="-16384"/>
			</button>
			<button>
				<trigger type="EV_KEY" code="KEY_RIGHT"/>
				<trigger type="EV_KEY" code="BTN_DPAD_RIGHT"/>
				<trigger type="EV_KEY" code="ABS_HAT0X" trigger="1"/>
				<trigger type="EV_KEY" code="ABS_X" trigger="16384"/>
			</button>
			<button>
				<trigger type="EV_KEY" code="KEY_LEFT"/>
				<trigger type="EV_KEY" code="BTN_DPAD_LEFT"/>
				<trigger type="EV_KEY" code="ABS_HAT0X" trigger="-1"/>
				<trigger type="EV_KEY" code="ABS_X" trigger="-16384"/>
			</button>
			<button>
				<trigger type="EV_KEY" code="KEY_RIGHT"/>
				<trigger type="EV_KEY" code="BTN_DPAD_RIGHT"/>
				<trigger type="EV_KEY" code="ABS_HAT0X" trigger="1"/>
				<trigger type="EV_KEY" code="ABS_X" trigger="16384"/>
			</button>
			<button>
				<trigger type="EV_KEY" code="KEY_B"/>
				<trigger type="EV_KEY" code="BTN_WEST"/>
			</button>
			<button>
				<trigger type="EV_KEY" code="KEY_A"/>
				<trigger type="EV_KEY" code="BTN_EAST"/>
			</button>
		</shortcut>
	</shortcuts>
	<remaps>
		<remap>
			<in type="EV_KEY" code="BTN_THUMBL"/>
			<out type="EV_KEY" code="KEY_1" trigger="1"/>
		</remap>
		<remap>
			<in type="EV_KEY" code="BTN_THUMBR"/>
			<out type="EV_KEY" code="KEY_3" trigger="1"/>
		</remap>
		<remap>
			<in type="EV_KEY" code="BTN_SELECT"/>
			<out type="EV_ABS" code="ABS_X" trigger="-1"/>
		</remap>
		<remap>
			<in type="EV_KEY" code="BTN_START"/>
			<out type="EV_ABS" code="ABS_X" trigger="1"/>
		</remap>
		<remap>
			<in type="EV_KEY" code="BTN_MODE"/>
			<out type="EV_KEY" code="KEY_Y"/>
		</remap>
		<remap>
			<in type="EV_KEY" code="KEY_A"/>
			<out type="EV_KEY" code="KEY_A"/>
		</remap>
	</remaps>
</settings>
